# 132. Overview of Pandas for Data Processing

# 133. Overview of Reading CSV Data using Pandas

# 134. Read Data from CSV Files to Pandas Dataframes

# 135. Filter Data in Pandas Dataframe using query

# 136. Get Count by Status using Pandas Dataframe APIs

# 137. Get count by Month and Status using Pandas Dataframe APIs

# 138. Create Dataframes using dynamic column list on CSV Data

# 139. Performing Inner Join between Pandas Dataframes

# 140. Perform Aggregations on Join results

# 141. Sort Data in Pandas Dataframes

In [1]:
import pandas as pd

In [3]:
pd.read_csv(r'F:\DataSpell\data_engineering_essentials_using_sql_python_pyspark\data\part-00000.txt')

           0                      1      2                3
0          1  2013-07-25 00:00:00.0  11599           CLOSED
1          2  2013-07-25 00:00:00.0    256  PENDING_PAYMENT
2          3  2013-07-25 00:00:00.0  12111         COMPLETE
3          4  2013-07-25 00:00:00.0   8827           CLOSED
4          5  2013-07-25 00:00:00.0  11318         COMPLETE
...      ...                    ...    ...              ...
68878  68879  2014-07-09 00:00:00.0    778         COMPLETE
68879  68880  2014-07-13 00:00:00.0   1117         COMPLETE
68880  68881  2014-07-19 00:00:00.0   2518  PENDING_PAYMENT
68881  68882  2014-07-22 00:00:00.0  10000          ON_HOLD
68882  68883  2014-07-23 00:00:00.0   5533         COMPLETE

[68883 rows x 4 columns]