# 18. Introduction to Setting up Tools for Data Engineering Essentials

# 19. Setup VS Code on Windows

# 20. Setup Python 3.9 on Windows

# 21. Configure Environment Variable PATH for Python on Windows

# 22. Overview of learning Python using Python CLI

# 23. Integrate VSCode with Python on Windows

# 24. Install Postgres 14 on Windows 11

# 25. Getting Started with pgAdmin on Windows

# 27. Conclusion of Setting up Tools for Data Engineering Essentials

In [4]:
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

Empty DataFrame
Columns: [table_name]
Index: []