# 79. Introduction to Performance Tuning of SQL

# 80. Overview of SQL Compilation Process and Explain Plans

# 81. Generate Explain Plans for SQL Queries

In [1]:
%%sql
EXPLAIN
SELECT * FROM orders WHERE order_id = 2;

                                          QUERY PLAN
0  Index Scan using orders_pkey on orders  (cost=...
1                         Index Cond: (order_id = 2)

In [5]:
%%sql
EXPLAIN
SELECT o.*,
    round(sum(oi.order_item_subtotal)::numeric, 2) AS revenue
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE o.order_id = 2
GROUP BY o.order_id,
         o.order_date,
         o.order_customer_id,
         o.order_status;

                                          QUERY PLAN
0  GroupAggregate  (cost=0.29..3427.85 rows=1 wid...
1    ->  Nested Loop  (cost=0.29..3427.82 rows=4 ...
2          ->  Index Scan using orders_pkey on or...
3                         Index Cond: (order_id = 2)
4          ->  Seq Scan on order_items oi  (cost=...
5                  Filter: (order_item_order_id = 2)

# 82. Review Tables used for Performance Tuning of SQL Queries

In [ ]:
%%sql
DROP INDEX orders_order_date_idx;
DROP INDEX order_items_oid_idx;

In [ ]:
%%sql
COMMIT;

In [ ]:
%%sql
ALTER TABLE order_items ADD
FOREIGN KEY (order_item_order_id) REFERENCES orders (order_id)

# 83. Review Data Storage Internals for Tables and Indexes

# 84. Review key terms used in Explain Plans for SQL Queries

# 85. Interpret Explain Plans for Basic SQL Queries